*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.lof
*.lot
*.lol
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.xdy
*.run.xml
*.pdfsync
*.backup
*~ 